.Contenedor-encabezado {
  margin-bottom: 30px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
}

.Contenedor-encabezado__imagen {
  padding: 30px;
}

.Contenedor-encabezado__imagen img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ;
}

.Contenedor-encabezado__imagen:hover img {
  transform: scale(1.3);
}

.Contenedor-encabezado::before,
.Contenedor-encabezado::after {
  content: "";
  flex: 1;
  height: 2px;
  background: linear-gradient(90deg,rgba(12, 22, 26, 0.89) 12%, rgba(255, 255, 255, 0.45) 32%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0.47) 77%, rgba(0, 0, 0, 0.89) 100%);
  position: relative;
}