/* Sidebar vertical (oculto por defecto) */
.sidebar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e2f;
  position: fixed;
  top: 0;
  left: 0;
  width: 14%;
  height: 26vh;
  z-index: 999;
}
.sidebar__h3{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 0;   
}

.sidebar__link{
  color: white;
  text-decoration: none;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #444;
  transition: transform 0.3s ease ;
}

.sidebar__link:hover{
    transform:scale(1.1) ;
}

/* Responsive: mostrar sidebar y ocultar navbar en móviles/tablets */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .sidebar {
    display: flex;
  }
}